{% extends 'base.html.twig' %}

{% block title %}Hello SmartphoneController!{% endblock %}

{% block body %}

    <h1>Add smartphone</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
    {{ form(form) }}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}
